@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  scroll-behavior: smooth;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: -1px;
  color: black;
  margin: 0px;
  list-style-type: none;
  line-height: 1.1;
  padding: 0px;
  box-sizing: border-box;
  text-decoration: none;
}

/* flex classes */

.flex {
  display: flex;
}

.flex-container-start {
  display: flex;
  justify-content: start;
}

.flex-container-sb {
  display: flex;
  justify-content: space-between;
}

li a {
  color: rgb(107, 107, 107);
  font-weight: 300;
}

.techcrunch a {
  font-weight: 900;
  color: rgb(255, 183, 0);
}

ul .login,
.login a {
  font-weight: 400;
  padding-bottom: 40px;
}

li {
  padding: 6px 0px;
}

.navbar {
  position: fixed;
  z-index: 49;
  font-size: 1.26rem;
  width: 240px;
  height: 100%;
  padding: 30px 30px;
}

h1 {
  font-size: 2.4rem;
  font-weight: 900;
  padding-bottom: 10px;
}

.logo {
  padding-bottom: 10px;
}

.search {
  padding-bottom: 10px;
}

.main-left {
  margin-left: 260px;
  width: 590px;
  padding: 20px 10px;
}

.main-right {
  width: 320px;
}

.main-right article h2 {
  padding-top: 4px;
  font-weight: 900;
  font-size: 1.35rem;
  width: 350px;
}

.span-mini-view {
  font-weight: 400;
  color: rgb(36, 216, 36);
}

.mini-view {
  padding-top: 15px;
}

.mini-view p {
  color: rgb(35, 35, 35);
  font-weight: 500;
  padding: 10px 0px;
}

hr {
  border: none;
  height: 0.5px;
  width: 90%;
  background-color: rgb(224, 224, 224);
}

.main-twitter-img {
  padding: 10px 0px;
}

span {
  font-weight: 500;
}

aside {
  margin-top: 12px;
  border: 2px solid rgb(24, 184, 24);
  width: 290px;
  height: 120px;
}

aside hr {
  margin-top: 20px;
  background-color: rgb(36, 216, 36);
  height: 1.5px;
  width: 100%;
}

aside .event {
  padding: 15px 0px 0px 10px;
}

.event h3 {
  font-weight: 900;
  font-size: 1.3rem;
  color: rgb(36, 216, 36);
}

.event p {
  font-size: 0.95rem;
  padding-left: 40px;
  line-height: 1.5;
}

aside h4 {
  font-weight: 900;
  padding: 8px 0px;
  text-align: center;
}

.section-latest {
  width: 900px;
  margin: 20px 250px;
  height: fit-content;
}

.color-grey {
  color: rgb(141, 141, 141);
}

.section-latest h4 {
  margin-top: 20px;
  font-size: 1.3rem;
  padding-bottom: 25px;
}

.section-latest h2 {
  padding-top: 4px;
  font-size: 1.8rem;
  font-weight: 900;
}

.container-latest {
  padding: 25px 0px;
}

.container-latest p {
  font-size: 1rem;
  color: rgb(112, 112, 112);
  line-height: 1.5;
  letter-spacing: -0.5px;
}

.container-latest img {
  width: 280px;
  height: 150px;
}

.latest-heading-wrapper p {
  padding: 10px 0px;
  font-size: 0.9rem;
  font-weight: 700;
}

.latest-heading-wrapper p+span {
  color: rgb(103, 103, 103);
  font-weight: 300;
}

.section-latest hr {
  width: 900px;
}

.load-more {
  width: 100%;
}

.load-more h4 {
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.gradient-text {
  background-image: linear-gradient(to right, #2cda2c, #129612);
  background-clip: text;
  -webkit-background-clip: text;
  /* For Safari/Chrome */
  color: transparent;
}

footer {
  width: fit-content;
  height: fit-content;

  margin-left: 250px;


  flex-direction: row;

  margin-bottom: 10px;

}

footer hr{
  width: 1150px;
}

#links {
  margin-top: 25px;
}

#site_links {
  margin-right: 100px;
}

#site_links>div {
  font-size: 17px;
  margin-right: 55px;

  line-height: 25.2px;
  letter-spacing: 0px;
  
}

#social_links div li {
  margin-right: 35px;
}

#social_links div li a span {
  font-size: 18px;
  color: rgb(130, 130, 130);
  font-weight: 400;
  align-items: start;
  
  line-height: 25.2px;
  letter-spacing: 0px;

  margin: 0px 15px;
}

footer>div+div {
  margin: 30px 0;
  color: rgb(107, 107, 107);
}