/* weird code I know! */

* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}
#dailydev-logo {
    margin-top: 13px;
    margin-left: 8px;
    width: 116px;
}

header {
    border-bottom: 1px solid rgb(45, 50, 59);
    background-color: rgb(14, 18, 23);
    height: 56px;
    clear: both;
}

.span-head {
    color: rgb(112, 120, 140);
    font-size: small;
    padding-left: 12px ;
    font-weight: 900;
}

.nav ul {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 400 ;
    list-style-type: none;
}

.nav-start #new-squad {
    margin-bottom: 30px;
}

.nav-heading {
    color: white;
    font-weight: 700;
}

.nav a {
    color: rgb(150, 158, 179);
    text-decoration: none;
}

.nav li {
    padding-bottom: 8px;
}

.nav {
    padding-top: 30px;
    background-color: rgb(14, 18, 23);
    border-right: 1px solid rgb(45, 50, 59);
    height: 710px;
    width: 16%;
    float: left;
}

.nav-end {
    margin-top: 50px;
}

.main{
    background-color: rgb(14, 18, 23);
    border: 1px solid rgb(14, 18, 23);
    height: 710px;
    width: 84%;
    float: left;
}
