* {
    box-sizing: border-box;
}

header, footer {
    border: 1px solid gray;
    height: 100px;
    clear: both;
}

/*single upper section*/
section.upper {
    border: 1px solid gray;
    height: 200px;
}

/*left middle section with 40% width*/
section.mid-left {
    border: 1px solid gray;
    height: 350px;
    width: 40%;
    float: left;
}

/*right middle section with 60% width*/
section.mid-right {
    border: 1px solid gray;
    height: 350px;
    width: 60%;
    float: left;
}
